.header {
  background: $glacier-blue;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
  margin-bottom: $l-size;
}

.header__title {
  color:$dark-grey;
  text-decoration: none;
  h1 {
    margin: 0;
    font-size: 3.5rem;
  }
  h3 {
    font-size: 1.7rem;
    margin: 0;
    font-style: italic;
  }
}

.header__question-mark {
  border: solid $dark-grey 0.5rem;
  padding: 0 0.9rem;  
  margin-right: 0.5rem;
  border-radius: 0.9rem;
}
