// Colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$blue: #77A6F7;
$light-blue: #D3E3FC;
$overcast: #F1F1F2;
$warm-grey:#dbdbdb;
$ice: #A1D6E2;
$glacier-blue: #1995AD;

// Font Size
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
