// Colors
$grey: #666;
$dark-grey: #333;
$off-white: #f7f7f7;
$overcast: #F1F1F2;
$warm-grey:#dbdbdb;
$ice: #A1D6E2;
$glacier-blue: #1995AD;
$status-unknown: #F1F1F2;
$status-maybe: #F7F48B;
$status-definitely: #A1DE93;
$status-definitelyNot: #F47C7C;

// Font Size
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
